@charset "UTF-8";

/* GROUP TUITION STYLES */

a:visited {color:#880088;}

body.ou-wide .r2 { width: 100% }

body.ou-wide .r2 .ou-content {border-radius:0.5em;}

div.inview {padding:1.2em 2em;}

/* tables */

table {margin-bottom:30px;}

table a {
	color:#039;
	text-decoration:underline;
}

table img {max-width:none;}

table th {font-weight:bold;}

table th,
table td {padding:0.5em 1em;}

table td.booked {color:#539d3c;}

table tbody tr:nth-of-type(even) td {background-color:#f5f5f5;}

table.confirmation tbody tr:nth-of-type(even) td {background-color:transparent;}

table.event-listings td {vertical-align: middle;}

span.compulsory {color:#b52a1e;}

table.confirmation td ul {padding-left:1.2em;}

/* sortable tables */

table.sortable th:hover {
	cursor:pointer;
	color:#444;
}

table.sortable th.sorttable_nosort:hover {
	cursor: text;
	color:#000;
}

table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after { 
    content: " \25B2\25Bc";
	font-size:9px;
	color:#ccc;
}


/**/



hr {
	border:none;
	border-top:1px solid #eee;
	padding:0;
	margin:30px 0;	
}

h2.book-title {
	margin-bottom:25px;	
}

h3 {
	font-size:1.1em;
	font-weight:bold;
	color:black;	
}

a.print {
	background-image:url(../img/2015/icon-print.png);
	background-position:0 0.2em;
	background-repeat:no-repeat;
	padding-left:20px;
	display:inline-block;
}


/* buttons */

a.book-now,
a.cancel {
	color:#fff;
	background-color:#539d3c;	
	display:inline-block;
	padding:3px 8px;
	margin-right:3px;
	border-radius:4px;
	text-decoration:none;
}

a.cancel {background-color:#b52a1e;}

a.book-now:hover,
a.book-now:visited:hover,
a.cancel:hover {
	background-color:#000;
	color:#fff;
}

/**/


/* map */

iframe {
	width:400px;
	height:300px;
	padding:0;
	margin:0;	
}

/**/

/* boxes */

.box-booked,
.box-warning {
	padding:1em 1.5em 1em 2.5em;
	margin:0 0 20px 0;
	background-color:#eee;
	background-image:url(../img/2015/icon-tick.png);
	background-position:1em 1.3em;
	background-repeat:no-repeat;
	border-radius:0 0.5em 0.5em 0;	
	border-left:4px solid #539d3c;
}

.box-booked p,
.box-warning p {margin:0;}

.box-warning {
	padding:1em 1.5em 1em 1.5em;
	margin: 0;
	background-image:none;
	border-left:4px solid #b52a1e;
}

/**/

/* forms */

form.tutorial-feedback textarea {
	width:50%;
	font-size:1em;
	padding:0.5em;	
}

form.distance-filter {margin:20px 0;}

form.distance-filter input[type="text"] {
	font-size:1em;
	margin:0 3px;
	width:100px;
}

form.distance-filter p {color:#666;}

/**/


/* breadcrumb */

ol.ou-breadcrumb,
ol.ou-breadcrumb li {
	margin:0;
	padding:0;
	list-style:none;	
}

ol.ou-breadcrumb {margin:20px 0 5px 0;}

ol.ou-breadcrumb li {
	display:inline;
	background-image: url(../img/menu-arrow-right.png);
    background-position: 0 .3em;
    background-repeat: no-repeat;
	padding-left:10px;
	margin-right:5px;
}

ol.ou-breadcrumb li:first-child {background-image:none;}
	
/**/



@media screen and (max-width: 800px) {

/* make tables scrollable at smaller screen sizes */

table tbody tr:nth-of-type(even) td {background-color:transparent;}

div.table-wrap {
	overflow-x: scroll;
	background-image: 
		-webkit-linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)), 
		-webkit-linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)), 
		-webkit-linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), 
		-webkit-linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
	background-image: 
		linear-gradient(left, #ffffff, rgba(255, 255, 255, 0)), 
		linear-gradient(right, #ffffff, rgba(255, 255, 255, 0)), 
		linear-gradient(left, #c3c3c5, rgba(195, 195, 197, 0)), 
		linear-gradient(right, #c3c3c5, rgba(195, 195, 197, 0));
	background-position: 0 0, 100% 0, 0 0, 100% 0;
	background-repeat: no-repeat;
	background-size: 4em 100%, 4em 100%, 1em 100%, 1em 100%;
	background-attachment: local, local, scroll, scroll;
}

} /* end media query */



@media screen and (max-width: 400px) {
	
h1 {
    font-size: 1.6em;
    padding: .5em .5em 1em .5em;
	line-height:130%;
}

div.inview {padding:1em 1.5em;}

} /* end media query */








