@import url('master-screen.css');

table.archive {
	width:80%;
	margin:0px; padding:0px;
	position:relative; top:0px;
}

table.archive td { font-size:80%; }

h1.news {
	text-align:left;
	margin:5px;
	font-size:1.9em; 
	padding:12px 10px 4px 8px; font-weight:normal;
}

div.container { margin:0 10px; }

span.link a {float:right; padding-top:3px; font-size:x-small; font-weight:normal;  color:#03c; letter-spacing:0px;
}

span.date {
	font-size: x-small; font-weight:bold;
}

p {
margin-top:0px;
margin-bottom:10px;
	line-height:140%;
}


#topwrap {
	position:relative;
	margin:0;
	padding:0;
	border:none;
	text-align:left;
	width:100%;
	height:auto;
}


#oulink {
	width: 100px;
	height:35px;
	display:block;
	margin:0 0 0 5px;
	padding:0;
	background-image : url(../images/oulogo.gif);
	background-repeat : no-repeat;
	text-indent: -1000em;
	border:none;
	background-position : 0 -2px;
	text-decoration:none;
}


#tutorhomelink {
	width: 425px;
	height:35px;
	display:block;
	margin:0 0 0 5px;
	padding:0;
	background-image : url(../images/tutor_home_logo.gif);
	background-repeat : no-repeat;
	text-indent: -1000em;
	border:none;
	text-decoration:none;
}

#access {
	display:none;
}

#contentwrap {
	position:relative;
	margin:0 auto;
	padding:0 0 0 0;
	border:none;
	width: 100%;
	height:auto;
	text-align:center;
}

#col1 {
	position:relative;
	width:50%;
	height:auto;
	text-align:left;
	margin:0;
	padding:0;
}

#col1 h3 {
	padding-left: 20px;
	background-image : url(../images/messages-icon.gif);
	background-repeat : no-repeat;
	background-position : 5px 5px;
}

#col2 h3 {
	padding-left: 25px;
	background-image : url(../images/links-icon.gif);
	background-repeat : no-repeat;
	background-position : 5px 5px;
}

#col2 {
	position:absolute;
	top:0;
	right:0;
	width: 50%;
	height:auto;
	text-align:left;
}

/* news */

p.newsdate {
text-align:left;
margin:0px;
padding: 3px;
	font-size: 1.1em;
	background-color: #e4e4e4;
	border-top: 1px solid #000;
}

p.newstitle {
text-align:left;
margin:0px;
padding: 3px;
font-size: 1.2em;
	background-color: #f4f4f4;
	font-weight: bold;
	border-bottom: none;
}

a.newslink {
	
}
img {
	border:0px;
		
	
}

 img.news {
	margin: 5px 5px -1px 3px;
}


img.newsimage {

	border: 1px solid #000;
}


h3.news {
	color: white;
	background-color: #0066cc;
	text-transform : uppercase; 
	text-align:left; 
	padding: 5px; 
	margin: 10px 10px 0px 10px; 
	font-size:1.3em;
		padding-left: 20px;
	background-image : url(../images/messages-icon.gif);
	background-repeat : no-repeat;
	background-position : 5px 5px;
	border-top: 1px solid #000;
	border-left: 1px solid #000;
	border-right: 1px solid #000;
}


span.newsimage {
	float:left;
	padding: 5px 10px 0px 0px ;
}

span.story {
position:relative;
	/* float:left; */
	/* height:100%;	*/
		padding: 5px 10px 20px 0px; 
		margin:0px;

width:45%;
}

.newstory {
	width:100%;
}

div.extralinks {
text-align:left;
float:right;
	width: 210px;
	padding:5px 0px 0px 0px;]margin:0px;
	/* height:100%; */
}

div.spacer {	clear:both;}

span.extralinks li{	padding:2px 0px;}

ul.newsitems {
text-align:left;
	list-style : none;
}

li.contact {
text-align:left;
	font-size: 1.1em;
}
li.contacty {
text-align:left;
	font-size: 1.1em;
	color: #999;
}

span.caption {
display:block;
text-align:left;
padding:3px;
margin:0px;
	font-size: 1em;
}
a {

	font-size: 1em;
	text-decoration: none;
	color: #006;
}

a.hover {
	text-decoration:underline;
}

div.news2sectionbox {
	border: 1px;
}


span.story  {
float: left;
text-align:left;
	font-size: 1.3em;
}


div.newscontent {
	margin:0px 4px 10px 4px;
	padding:4px;
}

p {
	border:none;
}

p.textbg { font-size: 0.8em; }

p.err { text-align: left;
	font-size: 1.2em; }
	
a.nav1 { color: #00f; }