#topbar { display:none; }
div.title, div.links { display:none; }
#Top1_divNav { display:none; }

div.sectionbox { border:0; }
div.sectionbox h2 { font-size:100%; font-weight:bold; margin:0; padding:0; text-align:center; }

div#submit { display:none; }

table.extra td { font-size:70%; }

div.currentcourses { font-size:60%; }

div.currentcourses h5 { margin-top:0; }

select { display:none; }
textarea { width:50%; }

.currentcourses h5 {
	color: black;
	font-weight : normal;
	background-color: #fff;
	padding: 3px;
	margin: 0 0 0 0 ;
	border : none;
}

p#guidance { display:none; }

a.blue2 { color:#000; }

span.sml { display:none; }

span.printonly { display:inline; font-size:120%; }
